.bx-wrapper {
	box-sizing:content-box;
	margin: 0 auto 40px;
}

.bx-wrapper div {
	box-sizing:content-box;
}

ul.bxslider {
	margin:0;
	padding:0;
}

ul.bxslider li {
	margin:0;
	padding:0;
}

.widget-area .textwidget ul.bxslider {
	margin:0;
	padding:0;
}

.widget-area .textwidget ul.bxslider li {
	margin:0;
	padding:0;
}

.bx-wrapper .bx-caption {
	background: rgba(80, 80, 80, 0.5);
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	margin: 0 3px;
}

.bx-wrapper .bx-viewport {
	background-color: inherit;
}

.bx-wrapper-noborder .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0px;
}

.bx-wrapper-border-white .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:  5px solid #fff;
	left: -5px;
}

.bx-wrapper-border-gray .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:  5px solid #888;
	left: -5px;
}

.bx-wrapper-border-black .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:  5px solid #000;
	left: -5px;
	display: block;
}

.bx-wrapper-shadow .bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 7px #333;
	border: 0px;
	left: 0px;
}


/* Theme trick */

#content .bx-wrapper img {
	max-width: 100%;
	box-shadow: none;
	border-radius: 0px;
	display: block;
}

/* Safari trick */
.bx-clone {
	display: none;
}