.bx-wrapper {
	box-sizing:content-box;
}

.bx-wrapper div {
	box-sizing:content-box;
}

ul.bxslider {
	margin:0;
	padding:0;
}

ul.bxslider li {
	margin:0;
	padding:0;
}

.widget-area .textwidget ul.bxslider {
	margin:0;
	padding:0;
}

.widget-area .textwidget ul.bxslider li {
	margin:0;
	padding:0;
}

.bx-wrapper .bx-caption {
	background: rgba(80, 80, 80, 0.5);
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	margin: 0 3px;
}

.bx-wrapper .bx-viewport {
	background-color: inherit;
}

.bx-wrapper-noshadow .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0px;
}

/* Safari trick */
.bx-clone {
	display: none;
}